In [18]:
import anndata as ad
import pandas as pd
import numpy as np
from scipy import sparse

In [19]:
a = ad.AnnData(
    X = sparse.csr_matrix(np.array([[0, 1], [2, 3]])),
    obs = pd.DataFrame({"group" : ["A", "B"]},
                       ### dictionary를 받음. key : group(col 이름), val : a/b (col data) 
                       index=["s1", "s2"]),
                       ### auto-generated idx 대신 s1, s2를 써라.
                    ### 다시 말하면, obs (cell metadata)에 group이라는 col 추가,
                    ### 데이터는 a, b, 인덱스는 자동 대신 s1, s2
    var = pd.DataFrame(index = ["var1", "var2"]),
    varm = {
        "ones": np.ones((2, 5)),
        "rand": np.random.randn(2, 3),
        "zeros": np.zeros((2, 5)),
    },
    uns = {"a" : 1, "b" : 3, "c" : {"c.b" : 4}},
)

a

AnnData object with n_obs × n_vars = 2 × 2
    obs: 'group'
    uns: 'a', 'b', 'c'
    varm: 'ones', 'rand', 'zeros'

In [20]:
b = ad.AnnData(
    X=sparse.csr_matrix(np.array([[4, 5, 6], [7, 8, 9]])),
    obs=pd.DataFrame(
        {"group": ["B", "C"], "measure": [1.2, 4.3]}, index=["s3", "s4"]
    ),
    var=pd.DataFrame(index=["var1", "var2", "var3"]),
    varm={"ones": np.ones((3, 5)), "rand": np.random.randn(3, 5)},
    uns={"a": 1, "b": 3, "c": {"c.b": 4}},
)

b

AnnData object with n_obs × n_vars = 2 × 3
    obs: 'group', 'measure'
    uns: 'a', 'b', 'c'
    varm: 'ones', 'rand'

In [21]:
c = ad.AnnData(
    X=sparse.csr_matrix(np.array([[10, 11], [12, 13]])),
    obs=pd.DataFrame({"group": ["a", "b"]}, index=["s1", "s2"]),
    var=pd.DataFrame(index=["var3", "var4"]),
    uns={"a": 1, "b": 4, "c": {"c.a": 3, "c.b": 4, "c.c": 5}},
)

c

AnnData object with n_obs × n_vars = 2 × 2
    obs: 'group'
    uns: 'a', 'b', 'c'

In [22]:
ad.concat([a, b]).to_df() 
## to_df() 하면 표를 보여주고, 변수 만들어서 변수 이름 치면 변수 형태를 보여줌

    var1  var2
s1     0     1
s2     2     3
s3     4     5
s4     7     8

In [23]:
ad.concat([a, c], axis="var").to_df()

    var1  var2  var3  var4
s1     0     1    10    11
s2     2     3    12    13

In [24]:
inner = ad.concat([a, b])
inner

AnnData object with n_obs × n_vars = 4 × 2
    obs: 'group'

In [25]:
(inner.obs_names, inner.var_names)

(Index(['s1', 's2', 's3', 's4'], dtype='object'),
 Index(['var1', 'var2'], dtype='object'))

In [26]:
ad.concat([a, b], join = "outer").to_df()

# join : "inner"(default - intersection), "outer"(union)

    var1  var2  var3
s1     0     1     0
s2     2     3     0
s3     4     5     6
s4     7     8     9

In [27]:
ad.concat({"a": a, "b": b}, label="batch").obs
# group(obs 데이터, Captital A,B,C), batch(a랑 b)

   group batch
s1     A     a
s2     B     a
s3     B     b
s4     C     b

In [28]:
# varm, obsm등 concatenation axis와 align 안된 data merge

ad.concat([a, b], merge = "same") ## a와 b에 있는 완전 동일 데이터만 merge
ad.concat([a, b], merge = "unique") ## 데이터 다 merge

AnnData object with n_obs × n_vars = 4 × 2
    obs: 'group'
    varm: 'ones', 'zeros'